.organizadores{
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: 1043px;
    width: 100%;

    &__tittle{
        display: flex;
        align-items: center;
        justify-content: space-between;

        span{
            background-color: var(--purple-200);
            display: flex;
            padding: 16px 20px;
            justify-content: center;
            align-items: center;
            gap: 10px;
            border-radius: 12px;
            color: var(--white);
            font-weight: 700;
            cursor: pointer;
        }
    }

    table{
        display: flex;
        padding: 20px;
        flex-direction: column;
        gap: 20px;
        border-radius: 12px;
        background-color: var(--white);
        box-shadow: var(--boxshadow-100);

        thead{
            border-radius: 8px;
            background: var(--purple-100);
            display: flex;
            padding: 20px;
            justify-content: space-between;
            align-items: center;
        }

        th:not(:last-child){
            width: 100%;
        }

        th:last-child{
            div{
                width: 58px;
            }
        }

        tbody{
            display: flex;
            flex-direction: column;
            gap: 20px;
        }

        tr{
            display: flex;
            padding: 10px 20px;
            justify-content: space-between;
            align-items: center;
            border-radius: 8px;
            border: 1px solid var(--gray-100);
            background: var(--white);
        }

        td:not(:last-child){
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        td:last-child{
            display: flex;
            align-items: center;
            gap: 10px;
        }
    }
}