.createeventsection{
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: var(--white);
    padding: 40px;
    border-radius: 20px;
    width: 100%;

    &__doubleinput{
        display: flex;
        gap: 10px;

        label{
            width: 100%;
        }
    }

    &__input{
        display: flex;
        flex-direction: column;
        gap:4px;

        span{
            font-size: 14px;
            color: var(--gray-200);
        }

        input, textarea, select{
            width: 100%;
            padding: 10px 20px;
            border-radius: 8px;
            border: 1px solid var(--gray-100);
            font-size: 16px;
        }

        input:hover, input:focus, textarea:hover, textarea:focus, select:hover, select:focus{
            border: 1px solid var(--purple-200);
            outline: none;
        }
    }
}
  
.form {
    &__actions{
        display: flex;
        gap: 10px;
        margin-top: 20px;
    }
    &__buttoncancel{
        background: var(--gray-200);
        width: 100%;
        border-radius: 12px;
        color: white;
        display: flex;
        padding: 10px 20px;
        justify-content: center;
        align-items: center;
        border: none;
        cursor: pointer;
        font-size: 16px;
    }
    &__buttonsubmit{
        background: var(--purple-200);
        width: 100%;
        border-radius: 12px;
        color: white;
        display: flex;
        padding: 10px 20px;
        justify-content: center;
        align-items: center;
        border: none;
        cursor: pointer;
        font-size: 16px;
    }
}